.side-nav li:first-child {
  border: none;
}
@media screen and (min-width: 640px) {
  html {
    font-size: 27px;
  }
}
.side-nav {
  background: #f8f8f8;
}
.side-nav li {
  font-weight: normal!important;
}
.side-nav li::before {
  background-color: transparent !important;
}
.side-nav li::after {
  background-color: transparent !important;
}
.side-nav li.active {
  background-color: #FFFFFF;
  font-weight: normal;
}
.theme-box{background:rgba(235, 136, 250, 0.9)}
.list-box {
	min-height: 100%;
  background: #FFFFFF !important;
}
.search-wrap {
  background: linear-gradient(#b60dcf, rgba(184, 77, 231, 0.95));
}
.light-bg {
  background: linear-gradient(rgba(235, 136, 250, 0.9), rgba(235, 136, 250, 0.75));
}
#app .slider-box {
  margin-top: 2.63rem;
}
.main .dash-grid-wrap {
  background: url(img/theme-pink/ad-b.jpg);
  background-size: 100% 100%;
}
.main .dash-grid-wrap .bgimg-1 {
  background: url(img/theme-pink/ad0.png);
  background-size: 100% 100%;
}
.main .dash-grid-wrap .bgimg-2 {
  background: url(img/theme-pink/ad1.png);
  background-size: 100% 100%;
}
.main .dash-grid-wrap .bgimg-3 {
  background: url(img/theme-pink/ad2.png);
  background-size: 100% 100%;
}
.main .dash-grid-wrap .bgimg-4 {
  background: url(img/theme-pink/ad3.png);
  background-size: 100% 100%;
}
.main .dash-grid-wrap .bgimg-5 {
  background: url(img/theme-pink/ad4.png);
  background-size: 100% 100%;
}
.main .dash-grid-wrap .bgimg-6 {
  background: url(img/theme-pink/ad5.png);
  background-size: 100% 100%;
}
.main .dash-grid-wrap .bgimg-7 {
  background: url(img/theme-pink/ad6.png);
  background-size: 100% 100%;
}
.main .dash-grid-wrap .bgimg-8 {
  background: url(img/theme-pink/ad7.png);
  background-size: 100% 100%;
}
.main .dash-grid-wrap .bgimg-9 {
  background: url(img/theme-pink/ad8.png);
  background-size: 100% 100%;
}
.main .dash-grid-wrap .bgimg-10 {
  background: url(img/theme-pink/ad9.png);
  background-size: 100% 100%;
}
.main .dash-grid-wrap .item p {
  font-size: .7rem;
}
